$white: #fff
$black: #111
$dark-grey: #39424E
$font: 'Didact Gothic','sans serif'
$body-size: 16px
$body-text: $white

/* Primary theme color */
$primary-color: #FED43F;
$primary-text-color: #543631;
$primary-link-color: #F9BB2D;
/* Secondary color: the background body color */
$secondary-color: #fcfaf6;
$secondary-text-color: #303030;
/* Highlight text color of table of content */
$toc-highlight-text-color: #d46e13;

$bg: $dark-grey
$fg: $white

$links: darken($white, 20%)
$links-hover: $white

$code-block: #000004
