.card 
    position: relative

    display: block
    width: 256px
    height: 256px

    color: $fg
    text-align: center
    text-decoration: none

    cursor: pointer

    &__thumbnail,
    &__text 
        position: absolute
        top: 0
        left: 0
    
    
    &__thumbnail 
        width: 100%
        height: 100%
        object-fit: cover
    
    
    &__text 
        padding: 24px
        
        display: flex
        flex-direction: column
        justify-content: center
        width: calc(100% - #{2 * 24px})
        height: calc(100% - #{2 * 24px})
        
        color: $fg
        text-align: center
        text-decoration: none
        background-color: hsla(303.8, 76.8%, 49%, 0.61) 

        transition: $trans
        transform: scale(.9)
        opacity: 0

        &__title 
            margin: 0 0 4px

            width: 100%

            font-size: 16px
            font-weight: 700
        

        &__description 
            margin: 0

            width: 100%

            font-size: 16px
            font-weight: 400
        
    

    &:hover,
    &:focus 
        .card__text 
            transform: scale(1)
            opacity: 1
        
    

    &:active 
        .card__text 
            transition-duration: .15s
            transform: scale(.9)
            opacity: 1
        
    
@media screen and (max-width: 1140px)
    main
        padding: 30px 30px 

@media screen and (max-width: 426px) 
    h1, .title-text
       font-size: 16px
    .card 
        width: 128px
        height: 128px

        &__text 
            &__title,
            &__description 
                font-size: 12px
            
 
    .card 
        width: 128px
        height: 128px

        &__text 
            &__title,
            &__description 
                font-size: 12px
