body {
    margin: 0 auto;

    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;

    color: $secondary-color;
    font-family: $font;
}

.content {
    max-width: #{960px + 2 * 48px};
}

a {
    color: $primary-text-color;

    &:hover,
    &:focus {
        color: $fg;
    }
}

main {
    display: block;
    padding: 30px 100px;
}
