.header {
    margin: 48px 48px 0;

    display: grid;
    grid-template:
        "logo title"
        "logo description";
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    justify-content: center;
    column-gap: 24px;
    row-gap: 4px;

    color: $primary-text-color;
    text-decoration: none;

    &__logo {
        grid-area: logo;
        display: block;
        height: 100px;
        object-fit: contain;
    }

    &__title {
        grid-area: title;
        align-self: end;
        
        margin: 0;
        
        font-size: 18px;
        line-height: 1;
        font-weight: 700;
    }
    
    &__description {
        grid-area: description;
        align-self: start;
        
        margin: 0;

        font-size: 14px;
        line-height: 1;
        font-weight: 400;
    }
}
