{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "_variables.html" %}
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="juice.css") }}">
    {% block head %}
    {% endblock head %}
</head>

<body>
  {% block header %}
    <header class="pos-absolute" style="background-color: transparent">
        {{ macros::render_header() }}
    </header>
    <div class="hero">
        {% block hero %}
        {% endblock hero %}
    </div>
  {% endblock header %}

  {% block body %}
    <main>
    {% block main %}
      {% block toc %}
      {% endblock toc %}
    
      <div class="content">
          {% block content %}
          {{ section.content | safe }}
          {% endblock content %}
      </div>
    {% endblock main%}
    </main>
  
    {% block footer %}
    <footer>
      {{ macros::bottom_menu() }}
      {{ macros::footer() }}
    </footer>
    {% endblock footer %}
  {% endblock body %}
</body>
</html>
