{% extends "section.html" %}

{% block head %}
  <link rel="stylesheet" href="/blog.css">
{% endblock head %}

{% block toc %}{% endblock toc %}
{% block content %}
    {% for post in paginator.pages | filter(attribute="draft", value=false) %}
      {% set this_year = post.year %}

      {% if loop.first %}
        <nav class="posts">
      {% endif %}

        <div class="posts-item hover4" style="display: flex">
        <a href="{{ post.permalink }}">
          {% if post.extra.image %}
          {% set basepath = post.path | trim_start_matches(pat="/") %}
            <div style="width=400px, height=300px" >
              <img src="{{ resize_image(path= basepath ~ post.extra.image,
                            width=400, height=300 ) }}" />
            </div>
          {% endif %}
          <div class="content">
          <h1>{{ post.title }}</h1>
          <time class="text" datetime="{{ post.date | date(format="%Y-%m-%dT%H:%M:%S") }}">
              {{ post.date | date(format="%d %B %Y") }}
          </time>
            <div class="text">
              {{ post.content | safe | striptags | truncate(length=290) }}
              <a class="explore-more text" href="{{post.permalink}}">...weiterlesen→</a>
            </div>
          </div>
        </a>
        </div>

      {% if loop.last %}
        </nav>
      {% else %}
        {% set next_index = loop.index0+1 %}
        {% set pre_year = paginator.pages[next_index].year %}
        {% if this_year != pre_year %}
          </nav>
          <h2 class="text-right">{{pre_year}}</h2>
          <nav class="posts">
        {% endif %}
      {% endif %}
    {% endfor %}
    {% block pagination %}
        <nav class="pagination"> 
            {% if paginator.previous %}
                <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
            {% endif %}
            {% if paginator.next %}
                <a class="next" href="{{ paginator.next }}">Next ›</a>
            {% endif %}
        </nav>
    {% endblock pagination %}
{% endblock content %}
