{% extends "base.html" %}

{% block header %}
<header class="pos-absolute" style="background-color: transparent">
    {{ macros::render_header() }}
  </header>
  <div class="hero">
      {% block hero %}
      <section class="text-center">
          <h1 class="hero-title">
              {{ section.title }}
          </h1>
          <h3 class="title-text">
              {{ section.description }}
          </h3>
          <div>
              {% if section.extra.menu %}
                  {% for link in section.extra.menu %}
                          <a class="button" href="{{ link.link }}">{{ link.text }}</a>
                  {% endfor %}
              {% endif %}
          </div>
      </section>
      <img class="hero-image" style="width: 40%" src="{{ config.extra.juice.hero_image }}">
  
      <div class="explore-more text"
          onclick="document.getElementById('more').scrollIntoView({behavior: 'smooth'})">
          {{ section.extra.more_text }}
      </div>
      <style>
          .hero section {
              padding: 0 5rem;
          }
          @media screen and (max-width: 768px) {
              .hero section {
                  padding: 0 2rem;
              }
  
              .hero-image {
                  display: none
              }
          }
      </style>
      {% endblock hero %}
</div>
{% endblock header %}

{% block toc %}
{% if section.toc %}
{% set toc = section.toc %}
{% elif page.toc %}
{% set toc = page.toc %}
{% endif %}
{% if toc %}
<div class="toc">
    <div class="toc-sticky">
        {% for h in toc %}
        <div class="toc-item">
            <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
        </div>
        {% if h.children %}
        {% for h2 in h.children %}
        <div class="toc-item-child">
            <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock toc %}

{% block content %}
  <div id="more" class="heading-text">
    {% if section.extra.content.title %}
      {{ section.extra.content_title }}
    {% endif %}
  </div>
  {{ section.content | safe }}
{% endblock content %}
