{% extends "page.html" %}

{% import "_macros.html" as macros %}

{% block hero %}
{% endblock hero %}
{% block toc %}{% endblock toc %}

{% block main %}
  <style>
    main {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
  {# the following works only with zola-version >= 0.11.0 #}
  <div style="max-width: 900px" >
  <section class="fold">
  {% if page.extra.image is defined %}
    {% set image_path = [current_path, page.extra.image] | join | trim_start_matches(pat="/") %}
    <img src="{{ resize_image(path=image_path, width=500, height=400) }}">
  {% else %}
    {% for asset in page.assets -%}
      {%- if asset is matching("[.](jpg|png|PNG|JPG|jpeg|JPEG)$") -%}
        {% set image_path = asset %}
        <img src="{{ resize_image(path=image_path, width=500, height=400) }}">
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
       <div class="content" style="width: 320px">
      <h1>{{ page.title }}</h1>

      {# querying all the bike properties #}
      {% if page.extra.properties %}
        {% for item in page.extra.properties %}
         <p> <b>{{ item.name | capitalize }}:</b> {{ item.entry }} </p>
        {% endfor %}
      {% endif %}

      </div>
  </section>
<div class="content">
{% block content %}
  {% set anleitung = load_data(path="templates/shortcodes/ausleihanleitung.md") | markdown %}
  {% set precontent = ["## Mehr über ", page.title] | join | markdown %}
  {{ anleitung | safe }}
  {% if page.content is defined %}
    {{ precontent | safe }}
  {% endif %}
  {{ page.content | safe }}
{% endblock content %}
</div>
</div>
{% endblock main %}
