.content {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  max-width: 900px;
}

.content pre {
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  background-color: white;
  color: #4a4a4a;
  font-size: .875em;
  font-family: monospace;
}

.content code {
  background-color: white;
  color: #4a4a4a;
  font-size: .875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
  font-family: monospace;
}

.content a {
  color: var(--primary-link-color);

  &:hover {
    text-decoration: underline;
  }
}

.content h1 a {
  color: var(--primary-text-color);
}

.content blockquote {
  border-left: #e2dede 8px solid;
  margin: 0;
  background-color: #ececec;
  padding: 0 20px;
}

.content hr {
  width:100%;
}

