.text-center {
  text-align: center;
}

.pos-absolute {
  right: 0;
  left: 0;
  position: absolute;
}

.box-shadow {
  box-shadow: 0 2px 10px 2px #ddd;
  position: relative;
  z-index: 1001;
}

img {
  max-width: 100%;
}

.fold {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.hover4 {
 color:#fff;
 cursor:pointer;
 transition:all .3s ease 0s
}
.hover4:hover {
 box-shadow:0 3px 6px 0 rgba(0,0,0,.25);
 transform:translateY(-.1875em)
}
.hover4 .content a {
 color:inherit;
 text-decoration:inherit;
 }
.hover4 .content .text a {
 color:inherit;
 text-decoration:inherit;
 }

.post-header {
  position: relative;
  color: $secondary-color;
  time {
    padding: 20px;
  }
  h1 {
    margin: 0px;
  }
  .titlebox {
    padding-top: 30px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), $secondary-color);
  }
}
